
    <footer class="main-footer" 
                     style="
                           // float:left;
                            position: fixed;
                           // margin:0 auto;
                            //left: 0;
                           // top:20px;
                            bottom: 0;
                            height: 30px;
                            width: 100%;
                            background-color: #4BACC6;
                            //overflow:hidden;
                            "
                    >
                    <span style=' font-size:13px;color:#fff'>
                        <i>Amélioration continue  © <?php echo date('Y');?>.
                            Contact : <a href="mailto:poleweb@noz.fr" style='color:#fff'>poleweb@noz.fr</a>
                        </i>
                   </span>

            </footer>


      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
      
    </div><!-- ./wrapper -->


  </body>
</html>