{% extends 'AnomaliesBundle::base.html.twig' %}

{% block typesociete_edit -%}
    <h1>Typesociete edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('typesociete') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
